
@{
    ViewData["Title"] = "Login";
}

<form name="Eingabe">
    <table border="0" cellspacing="0" cellpadding="2">
        <tbody>
            <h5 class="card-title text-center">Login</h5>
            
            <tr>
                <td>Email:</td>
                <td>
                    <input name="Email" size="45" type="text" name="Email" required />
                </td>
            </tr>
            <tr>
                <td>Passwort:</td>
                <td>
                    <input name="Passwort" size="45" type="password" required />
                </td>
            </tr>
        <td>
            <input type="submit" asp-controller="user" asp-action="index" value="Anmelden" />
        </td>
        </tr >
        </tbody >
    </table>

</form>